.row
  %h3 Your Search Results:
  = will_paginate @search_results, :class => 'text-center'
- unless @search_results.empty?
  .row
    %table.table.table-striped
      %tbody
        - @search_results.each do |result|
          %tbody
            %tr
              - searchable = result.searchable
              - if searchable.instance_of? Course
                %td= searchable.subject
                %td= link_to "#{searchable.course_number}", searchable
                %td= link_to "#{searchable.title}", searchable
              - elsif searchable.instance_of? Instructor
                %td= link_to "#{searchable.first_name}", searchable
                %td= link_to "#{searchable.last_name}", searchable
                %td= searchable.title

- else
  .row
    %span
      %h3
        Nothing to show
        %i.fa.fa-frown-o
