.row
  %h3 Listing All Instructors:
  = will_paginate @instructors, :class => 'text-center'
.row
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Title
    %tbody
      - @instructors.each do |instructor|
        %tr
          %td= link_to "#{instructor.first_name}", instructor, class: 'underline'
          %td= link_to "#{instructor.last_name}", instructor, class: 'underline'
          %td= instructor.title unless instructor.title.nil?
